---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
---

<Layout title="Nomudev">
  <main>
    <section class="w-full mx-auto lg:w-[740px] py-44">
      <img
        class="rounded-full w-12 h-12 mb-4"
        src="./src/images/nomudev.png"
        alt="nomudev-foto"
      />
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">
        Hey, I'm nomudev <a
          href="https://www.linkedin.com/in/nomudev"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Available for work</Badge>
        </a>
        <h2 class="text-1xl opacity-80">
          Taking my first steps. Web and App fullstack developer. From Valencia,
          Spain. Specialized in learning quickly any technology.
        </h2>
        <ul></ul>
      </h1>
    </section>
  </main>
</Layout>
