---
import Layout from "../layouts/Layout.astro";
import GithubIcon from "../icons/Github.astro";
import Badge from "../components/Badge.astro";
import SectionContainer from "../components/SectionContainer.astro";
import SocialPill from "../components/socialPill.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import MailIcon from "../icons/Mail.astro";
import Experience from "../components/Experience.astro";
import BriefcaseIcon from "../icons/Briefcase.astro";
import CodeIcon from "../icons/Code.astro";
import Projects from "../components/Projects.astro";
import User from "../icons/User.astro";
import AboutMe from "../components/AboutMe.astro";
---

<Layout
  title="Portfolio de Nomudev - Desarrollador, Programador Web y Multiplataforma con 1 año de experiencia"
  description="Contrata a Nomudev desarrollador Java, programador React, Javascript, MySql, diseño de proyectos, rapida adaptacion a cualquier entorno."
>
  <main class="px-4">
    <SectionContainer class="py-44 pb-32">
      <img
        class="rounded-full w-12 h-12 mb-4"
        src="./src/images/nomudev.png"
        alt="nomudev-foto"
      />
      <h1
        class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hello there, I'm nomudev <a
          href="https://www.linkedin.com/in/nomudev"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Available for work</Badge>
        </a>
        <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]:">
          <span class="text-lightblue-100/90">
            Embarking on my journey as a</span
          >
          <span class="text-yellow-200/90">
            Web and App fullstack developer.</span
          ><span class="text-red-100/90">Hailing from Valencia, Spain.</span>
          <span class="opacity-75"
            >Specializing in quickly mastering any technology.</span
          >
        </h2>
        <nav class="flex gap-4 mt-8 flex-wrap">
          <SocialPill href="https://www.linkedin.com/in/nomudev">
            <LinkedInIcon class="size-4 md:size-6" /> LinkedIn
          </SocialPill>
          <SocialPill href="https://www.github/nomudev">
            <GithubIcon class="size-4 md:size-6" /> Github
          </SocialPill>
          <SocialPill href="mailto:noelmrodri@gmail.com">
            <MailIcon class="size-4 md:size-6" /> Mail me
          </SocialPill>
        </nav>
      </h1>
    </SectionContainer>

    <SectionContainer id="experience">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <BriefcaseIcon class="size-7" />
        Experience
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="projects">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <CodeIcon class="size-7" />
        Projects
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="about-me">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <User class="size-7" />
        About me
      </h2>
      <AboutMe />
    </SectionContainer>
  </main>
</Layout>
