<div>
  <p class="mb-4 text-2xl font-normal text-gray-100 text-balance">
    <span class="text-yellow-200/90">Hello there!</span> I'm <span
      class="text-yellow-200/90">Nomudev</span
    >, a <span class="text-yellow-200/90">full-stack developer</span> fueled by passion
    and drive.
  </p>

  <p class="mb-4 text-2xl font-normal text-gray-100 text-balance">
    Proficient in backend tech like <span class="text-yellow-200/90"
      >Java, Springboot,</span
    > and
    <span class="text-yellow-200/90 text-xl">Python (Flask)</span>, I'm
    currently delving into <span class="text-yellow-200/90">Rust</span> while mastering
    frontend tools like <span class="text-yellow-200/90">React, Astro,</span> and
    <span class="text-yellow-200/90">Node.js</span>.
  </p><p class="mb-4 text-2xl font-normal text-gray-100 text-balance">
    Currently pursuing a degree in <span class="text-yellow-200/90"
      >Multiplatform Application Development</span
    >.
  </p>
  <p class="mb-4 text-2xl font-normal text-gray-100 text-balance">
    I've honed my skills through various projects. With a background in managing
    teams and driving sales strategies in the hospitality industry.
  </p>
  <p class="mb-4 text-2xl font-normal text-gray-100 text-balance">
    I bring a unique blend of <span class="text-yellow-200/90"
      >technical expertise</span
    > and <span class="text-yellow-200/90">business acumen</span> to every project.
  </p>
  <p class="mb-4 text-2xl font-normal text-gray-100 text-balance">
    <span class="text-yellow-200/90">Let's collaborate</span> and transform your
    ideas into reality!
  </p>
</div>
