---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "May 2021",
    title: "Freelancer",
    description:
      "Provided external marketing consultancy to SMEs in Valencia. Managed community engagement as a Community Manager, designed promotional materials for festivals, and captured concert photography. Also handled booking entertainment acts.",
    link: "",
  },

  {
    date: "June 2022",
    title: "Freelancer",
    description:
      "Began working at a pharmaceutical distributor, where SAP was utilized extensively. Discovered a passion for programming during this time.",
    link: "",
  },

  {
    date: "September 2023",
    title: "Student and Freelancer",
    description:
      "Transitioned to pursuing a higher education degree in Multiplatform Application Development.",
    link: "",
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
